.newDriverList {
    display: flex;
    width: 100%;

    .newDriverListContainer {
        flex: 6;

        .title {
            padding-top: 20px;
            font-size: 16px;
            color: black;
            margin: 20px;
        }
    }
}